template-3rd-study/node_modules
template-3rd-study/public/hot
template-3rd-study/public/storage
template-3rd-study/storage/*.key
template-3rd-study/vendor
template-3rd-study/.env
template-3rd-study/.env.backup
template-3rd-study/.phpunit.result.cache
template-3rd-study/Homestead.json
template-3rd-study/Homestead.yaml
template-3rd-study/npm-debug.log
template-3rd-study/yarn-error.log

posse-3rd-laravel-study_env/db/lib/mysql/#innodb_temp