version: "3"

volumes:
    db-volume:
    maildir: {}

services:
  db:
    image: mysql/mysql-server:latest
    platform: linux/arm64/v8
    ports:
      - 3306:3306
    volumes:
      - ./db/var/lib/mysql:/var/lib/mysql
      - ./db/etc/my.cnf:/etc/my.cnf
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
  app:
    build:
      context: ./app
    volumes:
      - ../template-3rd-study:/work/backend
    depends_on: ["db"]
  web:
    build:
      context: ./web
    ports:
      - 80:80
    volumes:
      - ../template-3rd-study:/work/backend
    depends_on: ["app"]

  mail:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - '8025:8025'
    environment:
      MH_STORAGE: maildir
      MH_MAILDIR_PATH: /tmp
    volumes:
      - maildir:/tmp
