body{
    background-color:#F5F5F8;
}

/* ヘッダー */

.btn_submit{
    border-radius: 50px;
    align-items:center;
    width:200px;
    justify-content:center;
    background:linear-gradient(90deg,#1B72BD,#3ACBFC);
    color: #fff;
    cursor:pointer;
}


/* もーだるしょり */
.modal-rounded {
    border-radius: 30px;
}

.checkbox-wrap label{
display: inline-block;
}


.checkbox-wrap input{
display: none;
}

.checkbox-wrap input + span{
padding-left: 22px;
position:relative;
}

.checkbox-wrap input + span::before{
content: "";
background-image: url(/img/radio.PNG);
background-size: contain;
display: block;
position: absolute;
top: 0;
left: 0;
width: 18px;
height: 18px;
}

.checkbox-wrap input + label::before{
background-color:#F5F4F8;
padding:5px 10px;
border-radius:20px;
margin-right:10px;
margin-bottom: 10px;
}

.checkbox-wrap input:checked + span::after{
content: "";
background-image: url(/img/radio_checked.PNG);
background-size: contain;
display: block;
position: absolute;
top: 0;
left: 0;
width: 18px;
height: 18px;
}

.checkbox-wrap input:checked + label::after{
background-color:blue;
padding:5px 10px;
border-radius:20px;
margin-right:10px;
margin-bottom: 10px;
}


.btn_submit_modal{
border-radius: 50px;
display:flex;
align-items:center;
width:400px;
justify-content:center;
background:linear-gradient(90deg,#1B72BD,#3ACBFC);
color: #fff;

}

/* ローディングCSSここから */
.loading{
display:none ;
height:100%;
align-items:center;
}

.loading_spiner{
text-align: center;
width:100px;
height:100px;
color: #2DAEEA;
}


/* モーダルCSSここまで */


/* 完了画面 */
/* .done_inner{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
} */

.awesome{
color:#BEE361;
font-size:large;
margin-bottom:0;
}

.checkmark_large{
margin-bottom: 20px;
}

.r_p_txt{
font-size:large;
}

/* 画面を暗くする */




/* 下の日付 */
@media screen and (max-width: 767px) {
    .modal-fullscreen-md-down .modal-content {
        border-radius: 30px 30px 0 0;
    }
    }




.study_date{
margin-right: 10px;
margin-left: 10px;
}

.footer >i{
padding-top: 5px;
}

.modal-loading
{
    display:none;
}

.modal-done
{
    display:none;
}
