body {
    background-color: #F5F5F8;
}

/* ヘッダー */

.header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    /* position:absolute;
    top:0;
    left:0; */
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
}

.posse_title {
    display: flex;
    align-items: center;
}

@media screen and (min-width:768px) {
    .posse_logo_img {
        width: auto;
        height: auto;
    }
    .btn_submit {
        border-radius: 50px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        justify-content: center;
        background: linear-gradient(90deg, #1B72BD, #3ACBFC);
        color: #fff;
        cursor: pointer;
    }
}

@media screen and (max-width:767px) {
    .posse_logo_img {
        width: 100px;
        height: auto;
    }
    .btn_submit {
        visibility: hidden;
        cursor: pointer;
    }
}

.posse_week {
    margin-left: 20px;
    color: #97b9d1;
}

/* メイン */

@media screen and (min-width:768px) {
    .main {
        display: flex;
        padding-top: 20px;
        margin-right: 8%;
        margin-left: 8%;
    }
}

@media screen and (max-width:767px) {
    .main {
        display: block;
        padding-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* 左側 */

.studying_hour {
    display: block;
}

@media screen and (min-width:768px) {
    .studying_letter {
        display: flex;
        overflow: hidden;
    }
    .studying_card {
        display: block;
        text-align: center;
        margin-right: 20px;
        padding-right: 3em;
        padding-left: 3em;
        padding-top: 2em;
        width: 185px;
        height: auto;
    }
    .period {
        color: #0f71bc;
        font-size: 1.5em;
    }
    .time {
        font-size: 3em;
    }
    .hour {
        font-size: 1.5em;
        color: #9BBBD4;
    }
    .bar_graf_wrapper {
        margin-top: 20px;
    }
}

@media screen and (max-width:767px) {
    .studying_letter {
        display: flex;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .studying_card {
        display: block;
        text-align: center;
        margin-right: 16px;
        padding: 1em 2em;
        width: 115px;
        height: 110px;
    }
    .studying_card:last-child {
        display: block;
        text-align: center;
        margin-right: -16px;
        padding: 1em 2em;
        width: 120px;
        height: 110px;
    }
    .period {
        color: #0f71bc;
        font-size: 1.5em;
    }
    .time {
        font-size: 2em;
        text-align: center;
    }
    .hour {
        font-size: 1.5em;
        color: #9BBBD4;
        margin-bottom: 0;
    }
    .bar_graf_wrapper {
        margin-top: 16px;
        padding: 16px 0px;
    }
}

.studying_card_month {}

.studying_card_total {}

/* 右側 */

.studying_graf {
    display: flex;
}

@media screen and (min-width:768px) {
    .l_a_card {
        margin-right: 20px;
        width: 280px;
    }
    .study_l_c {
        text-align: left;
        padding-left: 20px;
        font-size: 1.5em;
        font-weight: 900;
        padding-top: 2em;
    }
    .doughnut_lang {
        padding-top: 2em;
    }
    .bar_graf {
        width: 597px;
    }
    .kinds_lang_wrapper>div {
        margin-right: 10px;
        font-size: 1.4em;
        margin-bottom: 1em;
    }
    .kinds_lang_wrapper>div>i {
        margin-right: 5px;
    }
    .kinds_cont_wrapper>div {
        margin-right: 10px;
        font-size: 1.4em;
        margin-bottom: 1em;
        text-align: left;
    }
    .kinds_cont_wrapper>div>i {
        margin-right: 5px;
    }
}

@media screen and (max-width:767px) {
    .l_a_card {
        margin-right: 16px;
        width: 180px;
    }
    .study_l_c {
        text-align: left;
        padding-left: 10px;
        font-size: 1em;
        font-weight: bolder;
        padding-top: 1em;
    }
    .l_a_card:last-child {
        margin-right: -20px;
    }
    .doughnut_lang {
        padding-top: 2em;
        max-width: 100%;
    }
    .bar_graf {
        width: 374px;
    }
    .kinds_lang_wrapper>div {
        margin-right: 3px;
        font-size: 0.7em;
        font-weight: lighter;
        margin-bottom: 1em;
    }
    .kinds_lang_wrapper>div>i {
        margin-right: 2px;
    }
    .kinds_cont_wrapper>div {
        margin-right: 3px;
        font-size: 0.7em;
        font-weight: lighter;
        margin-bottom: 1em;
        text-align: left;
    }
    .kinds_cont_wrapper>div>i {
        margin-right: 2px;
    }
}

.kinds_lang_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-right: 10px;
    margin-left: 10px;
}

.js_circle {
    color: #2A54EF;
}

.css_circle {
    color: #1B71BD;
}

.php_circle {
    color: #21BDDE;
}

.html_circle {
    color: #3DCEFD;
}

.laravel_circle {
    color: #B39EF3;
}

.sql_circle {
    color: #6D47EC;
}

.shell_circle {
    color: #4A18EF;
}

.wealth_circle {
    color: #3107BF;
}

.kinds_cont_wrapper {
    display: block;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.dot_circle {
    color: #2A54EF;
}

.n_yobi_circle {
    color: #1B71BD;
}

.posse_circle {
    color: #21BDDE;
}

/* もーだるしょり */

.modalArea {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.is-show {
    /* モーダル表示用クラス */
    visibility: visible;
    opacity: 1;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.default_modal {
    /* visibility: hidden; */
    opacity: 1;
    display: block;
}

.r_p_modal {
    display: none;
}

@media screen and (min-width:768px) {
    .modalWrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 900px;
        height: 80%;
        padding-top: 50px;
        background-color: #fff;
        border-radius: 40px;
        overflow: auto;
    }
    .popup_form {
        display: flex;
    }
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
    }
    .popup_left {
        width: 374px;
        margin-right: 40px;
        margin-left: 56px;
    }
}

@media screen and (max-width:767px) {
    .modalWrapper {
        position: absolute;
        left: 50%;
        top: 58%;
        bottom: 0;
        transform: translate(-50%, -50%);
        /* margin-top:74px; */
        width: 100%;
        height: 90%;
        padding: 50px 0 20px 20px;
        background-color: #fff;
        border-radius: 30px 30px 0 0;
        overflow: auto;
    }
    .popup_form {
        display: block;
    }
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
    }
    .popup_left {
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }
}

.popup_form h5 {
    font-weight: bolder;
    font-size: 0.7em;
}

.learning_date_time {
    background-color: #F5F4F8;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.lang_cont_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.check_box_wrap {
    background-color: #F5F4F8;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.check_box {
    background-color: #F5F4F8;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
}

.twitter_check {
    cursor: pointer;
}

.checkbox-wrap label {
    /* margin-right: 20px; */
    display: inline-block;
}

.checkbox-wrap input {
    display: none;
}

.checkbox-wrap input+span {
    padding-left: 22px;
    position: relative;
}

.checkbox-wrap input+span::before {
    content: "";
    background-image: url(./img/radio.PNG);
    background-size: contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.checkbox-wrap input+label::before {
    background-color: #F5F4F8;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* .checkbox-wrap input:checked + span{
    color: #487cff;
    font-weight: bold;
  } */

.checkbox-wrap input:checked+span::after {
    content: "";
    background-image: url(./img/radio_checked.PNG);
    background-size: contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.checkbox-wrap input:checked+label::after {
    background-color: blue;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.kinds_lang_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.popup_right {
    width: 374px;
    margin-right: 56px;
}

.twitter_comment {
    background-color: #F5F4F8;
    border: none;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}

.btn_submit_modal {
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: center;
    background: linear-gradient(90deg, #1B72BD, #3ACBFC);
    color: #fff;
}

.btn_submit_modal_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ローディングCSSここから */

.loading {
    /* visibility:hidden; */
    display: none;
    height: 100%;
    align-items: center;
}

.loading_spiner {
    text-align: center;
    width: 100px;
    height: 100px;
    color: #2DAEEA;
}

/* モーダルCSSここまで */

/* 完了画面 */

.done_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.awesome {
    color: #BEE361;
    font-size: large;
    margin-bottom: 0;
}

.checkmark_large {
    margin-bottom: 20px;
}

.r_p_txt {
    font-size: large;
}

/* 画面を暗くする */

.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    cursor: pointer;
}

/* 下の日付 */

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: center;
        margin-top: 3em;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
}

.study_date {
    margin-right: 10px;
    margin-left: 10px;
}

.footer>i {
    padding-top: 5px;
}

@media screen and (min-width:768px) {
    .btn_submit_s {
        visibility: hidden;
    }
    .btn_submit_s_wrap {
        visibility: hidden;
    }
}

@media screen and (max-width:767px) {
    .btn_submit_s {
        border-radius: 50px;
        display: flex;
        align-items: center;
        margin: 10px 20px 20px 20px;
        width: 100%;
        justify-content: center;
        background: linear-gradient(90deg, #1B72BD, #3ACBFC);
        color: #fff;
    }
    .btn_submit_s_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}